# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Custom directories
DataCorrected/
DataWang/
Outputs/
1.jpg
2.jpg