# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Exclude image files
*.jpg
*.tif
*.tiff
*.png

# Custom directories
DataCorrected/
DataWang/
Outputs/
